# OSX thumbnails cache file
.DS_Store

# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.lck
*.kicad_pcb-bak
*.kicad_sch-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
*-cache.lib
*-rescue.lib
*-rescue.dcm
*.kicad_prl
\#auto_saved_files\#
fp-info-cache
gerber/

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Backup files (exported from Pcbnew)
*-backups/

# Order files
order/
.idea/
