[submodule "corne-cherry/pcb/kbd"]
	path = corne-cherry/pcb/kbd
	url = https://github.com/foostan/kbd
[submodule "corne-light/pcb/kbd"]
	path = corne-light/pcb/kbd
	url = https://github.com/foostan/kbd
[submodule "corne-light/pcb/keebio-parts"]
	path = corne-light/pcb/keebio-parts
	url = git@github.com:keebio/Keebio-Parts.pretty.git
[submodule "corne-light/pcb/keebio-components"]
	path = corne-light/pcb/keebio-components
	url = git@github.com:keebio/keebio-components.git
[submodule "corne-light-choch-mini/pcb/kbd"]
	path = corne-light-choch-mini/pcb/kbd
	url = git@github.com:hochshi/kbd.git
