[submodule "corne-cherry/pcb/kbd"]
	path = corne-cherry/pcb/kbd
	url = https://github.com/foostan/kbd
[submodule "corne-light/pcb/kbd"]
	path = corne-light/pcb/kbd
	url = https://github.com/foostan/kbd
