# SPDX-FileCopyrightText: 2020 foostan <ks@fstn.jp>
#
# SPDX-License-Identifier: CC0-1.0

[submodule "corne-cherry/pcb/kbd"]
	path = corne-cherry/pcb/kbd
	url = https://github.com/foostan/kbd
[submodule "corne-light/pcb/kbd"]
	path = corne-light/pcb/kbd
	url = https://github.com/foostan/kbd
